body {
    text-align:center;
    font-family:arial;
    margin-top:200px;
    margin-bottom:200px;
    margin-left:50px;
    margin-right:50px;
}

h1 {
    position:relative ;
    font-size:25px;
    bottom:10px;
    
}

div {
    border:2px solid;
    border-radius:20px;
    border-color:black;
    padding:20px;
    background-color:grey;
    color:black;
}

.wa {
    position:relative;
    border:1px solid;
    border-radius:5px;
    background-color:green;
    border-color:black;
    color:white;
}
.wa:active {
    background-color:black;
}

.fb {
    position:relative;
    border:1px solid;
    border-radius:5px;
    background-color:blue;
    border-color:black;
    color:white;
}
.fb:active {
    background-color:black;
}